:root{
    --primary-color: #2B4865;
    --second-color: #FF87B2;
}

*{
    margin: 0;
}

#container{
    text-align: center;
    margin: auto;
}
h1{
    margin: 5rem auto 3rem;
}

body{
    background-color: var(--second-color);
    color: var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label,
input {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    padding: 1rem;
}
label{
    font-size: 2rem;
    padding-bottom: 1rem;
}

input {
    margin: auto;
    width: 60%;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}

#submit-btn
{
    background-color:#21E1E1;
    border-color: var(--second-color);
    border-radius: 1rem;
    font-weight: bolder;
    margin: 2rem;
    padding: 1rem 1rem;
    width: 10rem;

}

output{
    margin-top: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
}

@media only screen and (min-width: 700px) {
    input {
      width:20% 
    }
}